@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./globals.css";

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .text-ultra-condensed {
    font-stretch: ultra-condensed;
    letter-spacing: -0.05em;
  }
  
  .perspective-1500 {
    perspective: 1500px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
}